<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<h1></h1>
<div class="container">
    <div th:replace="base :: header"></div>
    <div class="row">
        <div th:each="msg : ${list}" class="card" style="width: 18rem; margin: 10px;">
            <div th:if="${msg.found} == false">
                <img th:if="${msg.image} != null" th:src="${msg.image}" class="card-img-top" />
                <div class="card-body">
                <h4 class="card-title" th:text="${msg.name}"></h4>
                <h6 th:text="'By: ' + ${msg.sentBy}"></h6>
                <p th:text="'Lost on: ' + ${msg.dateLost}"></p>
                <p th:text="${msg.content}"></p>

                <div th:if="${user.username} == ${msg.sentBy}">
                    <a class="btn btn-success" th:href="@{/complete/{id}(id=${msg.id})}">
                        I found my Pet!
                    </a>
                </div>
                </div>
            </div>
            <div th:if="${msg.found} == true">
                <div class="card-body">
                    <h4 class="card-title" th:text="${msg.name}"></h4>
                    <p>This lost pet has been found!</p>
                </div>
            </div>
        </div>
    </div>
    </table>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>