<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<h1></h1>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
        <a class="btn btn-primary btn-lg" href="/">Back</a>
        </div>
    </nav>
    <div th:each="project : ${projects}">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Project Lead</th>
            </tr>
            <tr>
                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.startDate}"></td>
                <td th:text="${project.leadDev}"></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Issue</th>
                <th>Description</th>
                <th>Project</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Submitted By</th>
                <th>Assigned To</th>
            </tr>
            <tr th:each="issue : ${project.issues}">
                <td th:text="${issue.id}"></td>
                <td th:text="${issue.name}"></td>
                <td th:text="${issue.description}"></td>
                <td th:text="${issue.project.name}"></td>
                <td th:text="${issue.priority}"></td>
                <td th:text="${issue.status}"></td>
                <td th:text="${issue.submitBy}"></td>
                <td th:text="${issue.completeBy}"></td>
            </tr>
        </table>
        <p>---</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>